[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
faker = "*"
requests = "*"

[packages]
flask-restplus = "*"
sqlalchemy = "*"
pytest-cov = "*"
flask-cors = "*"

[requires]
python_version = "3.6"
